main {
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
    padding: 5rem 0 5rem 0;
    max-width: 40rem;
    position: relative;
    display: block;
}

main a {
    display: inline-block;
    position: relative;
}
main a img {
    vertical-align: middle;
    width: 0.875rem;
    height: 0.875rem;
    margin-left: 0.25rem;
}

main h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}
main h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2.25rem;
}
main h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}
main h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
main h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 1.75rem;
}
main h6 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 2rem;
}

main p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

main a {
    text-decoration: underline;
}
main a:hover {
    text-decoration: none;
}