html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    color: rgb(4,4,4);
}
.site {
    background-image: url(../media/escheresque/escheresque.png);
    background-repeat: repeat;
    background-attachment: fixed;
}
.clear {
    clear: both;
}

header, footer {
    background-color: #3f51b5;
}
header i.fa,
.logo a,
footer {
    color: #EEE;
}

.menu nav li a,
.menu nav li li a {
    color: #212121;
}

.menu nav li li a:hover,
.menu nav li li.active > a {
    color: #424242;
}

header {
    width: 100%;
    padding-bottom: 0.25em;
    border-bottom: 0.0625em #002F2A solid;
    z-index: 20;
}
header > div {
    position: relative;
}
header i.fa {
    text-align: center;
    padding: 0.125em 0.125em 0.125em 0.25em;
    font-size: 2em;
    width: 1em;
    cursor: pointer;
    position: relative;
}
header .logo {
    display: inline-block;
    position: relative;
    left: 1em;
    top: 0.375em;
}
.logo a {
    font-size: 0.375em;
    line-height: 1em;
    text-decoration: none;
}
.logo pre {
    font-family: 'Inconsolata',monospace;
    margin: 0;
}
.menu {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    height: 0;
}
.menu nav {
    overflow: hidden;
    max-width: 20em;
    border: 0.0625em #999 solid;
    border-top: 0.0625em #002F2A solid;
    border-left: none;
    margin-left: -0.0625em;
}
#mainMenuNav > ul {
    max-width: 19.9375em;
    padding: 0.25em 0 0.25em 0;
    border-left: none;
    background-color: rgb(248,248,248);
    margin-left: 0.0625em;
}
.menu nav ul {
    margin: 0;
}
.menu nav li {
    list-style: none;
    display: block;
    position: relative;
    padding: 0 0.25em 0 1em;
}
.menu nav li ul {
    margin-bottom: 1em;
    padding-left: 0;
}
.menu nav a {
    font-size: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 0.25em;
}
.main {
    padding: 1em;
    background-color: rgb(248,248,248);
    min-height: 40em;
    border-left: 0.0625em #002F2A solid;
    border-right: 0.0625em #002F2A solid;
    font-size: 1em;
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6, .main p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.main p,
.main ul,
.main ol {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 150%;
}

.main ul,
.main ol {
    margin-left: 0;
    padding-left: 1em;
}

.main img {
    max-width: 100%;
    display: block;
    float: left;
}

.main img.left {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.main img.right {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.main .spice.inline,
.main .pageTitle,
.main .pocket {
    padding: 0;
}

.main .pocketWrapper {
    float: left;
}

.main .pocket iframe {
    max-width: 100%;
}

.main .chaniSubPage {
    overflow: hidden;
}

.main .chaniSubPage .pageTitle {
    cursor: pointer;
    padding-left: 2.5em;
    position: relative;
}
.main .chaniSubPage .pageTitle:hover {
    background-color: #e8eaf6;
}
.main .chaniSubPage .pageTitle h2 {
    font-size: 1.75em;
}
.chaniSubPage .pageTitle i {
    position: absolute;
    font-size: 1.75em;
    left: 0.25em;
    top: 0.125em;
}

.pocketWrapper .pocket {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.pocketWrapper:first-child .pocket {
    padding-left: 0;
}
.pocketWrapper:last-child .pocket {
    padding-right: 0;
}
.pocketCount_1 .pocketWrapper .pocket {
    padding-right: 0;
}

.chaniImageCropperDemo {
    padding: 0 1em;
}

.overviewDemo {
    width: 50%;
}

footer {
    text-align: right;
    border-top: 0.0625em #002F2A solid;
    border-bottom: 0.0625em #002F2A solid;
}
footer > div {
    padding: 0.5em 1em;
}
footer span {
    font-size: 0.75em;
}
footer img {
    max-height: 1.375em;
    vertical-align: middle;
    margin-left: 0.25em;
}

@media screen and (max-width: 40em) {
    .pocketWrapper {
        width: 100% !important;
        clear: both;
        margin-bottom: 1em;
    }
    .pocketWrapper .pocket {
        width: 100% !important;
        padding: 0 !important;
    }
}

@media screen and (min-width: 40em) {

    header {
        padding-bottom: 0;
    }
    header i.fa {
        display: none;
    }
    .logo a {
        font-size: 0.5em;
    }
    header > div {
        width: 52em;
        margin: auto;
    }
    header i.fa {
        padding-left: 0;
    }
    .menu {
        position: static;
        height: auto;
        margin-top: 0.375em;
    }
    .menu nav {
        max-width: 100%;
        border: none;
    }
    #mainMenuNav > ul {
        max-width: 100%;
        float: left;
        padding-bottom: 0;
        background-color: transparent;
    }
    .main {
        font-size: 1em;
        padding: 1em 2em;
        max-width: 48em;
        margin: auto;
    }
    footer > div {
        max-width: 50em;
        margin: auto;
    }
    .menu nav {
        overflow: visible;
    }
    .menu nav li.mainNav {
        position: relative;
        padding-bottom: 0.5em;
        float: left;
        width: 7.75em;
    }
    .menu nav li ul {
        overflow: hidden;
        position: absolute;
        display: none;
        left: -0.05em;
        right: 0;
        margin-bottom: 0;
        border: 0.0625em solid #002F2A;
        background-color: rgb(248,248,248);
        top: 1.7em;
        padding: 0.25em 0.25em 0.5em 0.25em;
    }
    li.mainNav:hover ul {
        overflow: visible;
        display: block;
    }
    .menu nav a {
        font-size: 1em;
        margin-bottom: 0;
    }
    .menu nav li a {
        color: #EEE;
    }
}