html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans',sans-serif;
}
body {
    padding-bottom: 4rem;
}

figure {
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,p {
    margin-top: 0;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

div, aside, article {
    box-sizing: border-box;
}

.site-header {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    right: 0;
    left: 0;
}
.site-header-content {
    margin: auto;
    height: 4rem;
    padding: 0.5rem 1rem;
}
.site-header-content pre {
    margin: 0;
    font-size: 0.375rem;
}

.site-search-nav {
    position: fixed;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    z-index: 100;
}

.site-search {
    position: absolute;
    bottom: 0;
    left: -100%;
    right: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    transition: left 0.2s ease-out, right 0.2s ease-out;
}

.toggle-search {
    position: absolute;
    left: 1rem;
    top: 1rem;
    border: none;
    width: 2rem;
    padding: 0.375rem;
}

.site-search-form {
    display: flex;
    justify-content: flex-end;
    padding-left: 3rem;
    width: 100%;
}

.site-header {
    z-index: 10;
}

.media-album {
    z-index: 1;
}

.album-page-list {
    z-index: 3;
}

.album-page {
    z-index: 1;
}

.album-page.active {
    z-index: 2;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    transition: left 0.2s ease-out, right 0.2s ease-out;
}

label, input, button {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 0.0625rem rgba(20,20,20,1) solid;
    line-height: 1.25rem;
    vertical-align: middle;
}

button img {
    vertical-align: middle;
}

.site-search-form input {
    max-width: 20rem;
    width: calc(100% - 5rem);
    margin-right: 0.75rem;
}

.reveal-search .site-search {
    left: 0;
    right: 0;
}

.reveal-search .nav-buttons {
    left: 100%;
    right: -100%
}

.site-search-nav nav {
    position: fixed;
    /*position: absolute;*/
    overflow: hidden;
    right: 2.25rem;
    top: calc(100% - 2rem);
    bottom: 2.25rem;
    left: calc(100% - 2.25rem);
    transition: left 0.2s ease-in,
    top 0.2s ease-in,
    right 0.2s ease-in,
    bottom 0.2s ease-in;
}
.site-search-nav nav,
.sub-nav {

}

.site-search-nav nav a {
    display: inline-block;
    padding: 0.25rem;
    font-size: 1.75rem;
    height: 2rem;
    width: calc(100% - 3.5rem);
}

.site-search-nav nav li:hover > a {
    font-weight: bold;
}

.site-search-nav nav a img {
    margin-right: 0.125rem;
}

.site-search-nav nav li {

}

.site-search-nav nav span {
    display: inline-block;
    padding: 0.25rem;
    width: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 1.75rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.site-search-nav nav span.menu-back {
    display: block;
    width: auto;
    font-size: 1.25rem;
    text-align: left;
}
.reveal-nav nav {
    left: 0;
    right: 0;
    bottom: 4rem;
    top: 3.75rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.site-search-nav nav ul {
    min-width: 18rem;
    max-width: 58rem;
    margin: auto;
    padding: 0.5rem 1rem;
    list-style: none;
    min-height: 7rem;
}

.sub-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 100%;
    overflow: hidden;
    transition: margin-left 0.2s ease-in, top 0.2s ease-in;
}

.sub-nav > span {
    display: block;
    width: auto;
    text-align: left;
}

.sub-nav.show {
    margin-left: 0;
}

.site-footer {
    text-align: right;
    padding: 0.5rem 1rem;
}

/*
        Grid base: 1rem / 4
         */

.grid {
    width: 100%;
    position: relative;
}

.grid-row {
    width: 100%;
    float: left;
    clear: both;
}

.grid-col {
    float: left;
    margin: 0 0.25rem;
}

.grid-col.right {
    float: right;
}

.grid-col.full {
    width: calc(100% - 0.5rem);
}

.grid-col.threequarter,
.grid-col.half,
.grid-col.quarter {
    width: calc(100% - 0.5rem);
}
.grid-col.eighth {
    width: calc(50% - 0.5rem);
}
.grid-col.sixteenth {
    width: calc(25% - 0.5rem);
}

.grid-col-content {
    padding: 0 1rem;
}
.grid-col-content canvas,
.grid-col-content table,
.grid-col-content iframe,
.grid-col-content video {
    width: 100%;
}

.grid-clear {
    clear: both;
}

.media-album {
    position: relative;
}

.media-album-wrapper {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
}

.media-album img {
    max-width: 100%;
    max-height: 100%;
}

.media-album-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.media-album-overlay {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    right: 100%;
    bottom: 100%;
    left: 0;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.media-album-overlay.reveal {
    right: 0;
    bottom: 0;
    opacity: 1;
}
.media-album-img .buttons {
    padding: 0.25rem;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
}
.media-album-img {
    max-width: 75%;
    height: 75%;
}
.media-album-img img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 75%;
    height: auto;
}

.album-page-list {
    position: absolute;
    width: 11rem;
    padding-right: 1rem;
    top: 0;
    left: -10rem;
    bottom: 0;
    transition: left 0.2s ease-in;
}

.album-page-list.reveal {
    left: 0;
}

.album-page-list .reveal-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    cursor: pointer;
}

.album-page-list a {
    display: block;
    padding: 0.25rem;
    text-decoration: none;
}

.album-page {
    top: 0;
    width: 100%;
    display: flex;
    flex: 0 0 19rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.album-page.previous {
    margin-left: -100%;
    position: absolute;
    transition: margin-left 0.2s ease-in;
}

.album-page.next {
    margin-left: 100%;
    position: absolute;
    transition: margin-left 0.2s ease-in;
}

.album-page.active {
    position: relative;
    margin-left: 0;
    transition: margin-left 0.2s ease-in;
}

.album-page > div {
    width: 40%;
    height: 4rem;
    margin-bottom: 1rem;
    position: relative;
}

.album-content {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.25rem;
}

@media (max-width: 50rem) {
    .media-album-overlay,
    .site-search-nav nav,
    .site-search-nav,
    .site-header {
        position: fixed;
    }
}

@media (min-width: 50rem) {

    body {
        padding-bottom: 0;
    }

    .site-header-content {
        display: flex;
        justify-content: center;
    }

    main {
        margin-left: 23rem;
        padding-top: 2rem;
    }

    .site-search-nav,
    .site-header {
        width: 20rem;
        right: auto;
    }

    .site-search-nav {
        top: 3.75rem;
        left: 0;
        right: auto;
        bottom: 0;
        padding-bottom: 3rem;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 0;
        height: auto;
    }

    .sub-nav {
        top: 3.75rem;
    }

    .sub-nav > span {
        font-size: 1.25rem;
        /*display: none;*/
    }
    .sub-nav {}

    .site-search-form {
        padding-left: 0;
        justify-content: space-between;
    }

    .toggle-search {
        display: none;
    }

    .site-search-nav nav {
        max-width: 21rem;
        position: static;
        box-shadow: none;
    }

    .nav-buttons {
        display: none;
    }

    .site-search {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
    }

    .site-search input {
        width: 12.25rem;
    }

    .site-search-nav nav a {
        font-size: 1.25rem;
        height: 1.375rem;
    }

    .site-footer {
        position: fixed;
        /*position: absolute;*/
        left: 0;
        bottom: 0;
        right: auto;
        width: 18rem;
    }

    .grid-col.threequarter,
    .grid-col.half,
    .grid-col.quarter {
        width: calc(50% - 0.5rem);
    }
    .grid-col.eighth {
        width: calc(25% - 0.5rem);
    }
    .grid-col.sixteenth {
        width: calc(12.5% - 0.5rem);
    }

}

@media (min-width: 80rem) {

    .site-wrapper {
        font-size: 1.25rem;
    }

    .grid-col.threequarter {
        width: calc(75% - 0.5rem);
    }
    .grid-col.quarter {
        width: calc(25% - 0.5rem);
    }
    .grid-col.eighth {
        width: calc(12.5% - 0.5rem);
    }
    .grid-col.sixteenth {
        width: calc(6.25% - 0.5rem);
    }
}

@media(min-height: 37rem) {
    .album-page > div {
        height: 6rem;
    }
}

@media(min-height: 50rem) {
    .album-page > div {
        height: 7rem;
    }
}

@media(min-height: 56rem) {
    .album-page > div {
        height: 8rem;
    }
}

@media(min-width: 50rem) {
    .site-search-nav {
        z-index: 10;
    }
    .site-search {
        z-index: 10;
    }
    .site-footer {
        z-index: 50;
    }

}